{% extends "quotedb/base.html" %}
{% block title %} QDB - Register Account {% endblock %}
{% block page_title %} Register {% endblock %}

{% block content %}
<p>Register a new account using the form below.</p>
<ul>
	<li>Usernames cannot be longer than 30 characters.</li>
	<li>Emails cannot be longer than 100 characters.</li>
</ul>
<hr>

<form action="process_registration/" method="post">
<table>
	{% csrf_token %}
	<tr>
		<td><b>Username:</b></td> <td><input type="text" name="username"></td>
	</tr>
	<tr>
		<td><b>Email:</b></td> <td><input type="text" name="email"></td>
	</tr>
	<tr>
		<td><b>Password:</b></td> <td><input type="password" name="password"></td>
	</tr>
	<tr>
		<td><b>Password (again):</b></td> <td><input type="password" name="password_confirm"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Register Account"></td>
	</tr>
</table>
</form>

{% endblock %}
